* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.link-home {
  font-size: 2.8rem;
  text-align: center;
  text-decoration: none;
}

.productimg {
  width: 150px;
  height: 150px;
  margin-left: auto;
}

.list li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 30vw;
  text-align: center;
  font-size: 1.4rem;
}

.header {
  font-size: 2rem;
  background: black;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  gap: 10vw;
}

.main-text {
  color: #aa0000;
  font-size: 3rem;
  text-align: center;
}

.list {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
  column-gap: 50px;
}

.header-shop {
  font-size: 2rem;
  text-align: center;
  position: fixed;
  width: 100vw;
}
.shop-text {
  font-size: 1.4rem;
  text-align: center;
  height: 10vh;
}
.shop-link {
  font-size: 2.5rem;
  text-align: center;
}


.price {
  color: #aa0000;
}

.price:after{
  content: '$'
}

.headerforcart {
  display: flex;
  background: black;
  color: white;
  justify-content: center;
  align-items: center;
}

.shop-main {
  color: #aa0000;
  width: 50vw;
}

.addbtn {
  background: white;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.addbtn:hover {
  background: #aa0000;
  color: white;
}

.cartbtn {
  color: white;
  font-size: 3rem;
  text-decoration: none;
}

.cartbtn:hover {
  color: #aa0000;
  cursor: pointer;
}

.listcontainer {
  margin-top: 50px;
}


.img {
}
.imgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}