* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.link-home {
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}

.productimg {
  width: 150px;
  height: 150px;
}

.list li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.header {
  font-size: 2.4rem;
  background: black;
  text-align: center;
  color: white;
}

.main-text {
  font-size: 3rem;
  text-align: center;
}
